<%= render(:partial => 'shared/navbar')%>

<div class="small-section">
<div class="container">
  <div class="row">
    <div class="six offset-by-three columns">
      <h2 class="section-header">Resend confirmation instructions</h2>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= devise_error_messages! %>

        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true %>
        </div>

        <div class="field">
          <%= f.label :first_name %><br />
          <%= f.text_field :first_name, autofocus: true %>
        </div>

        <div class="field">
          <%= f.label :last_name %><br />
          <%= f.text_field :last_name, autofocus: true %>
        </div>

        <div class="field">
          <%= f.label :tagline %><br />
          <%= f.text_field :tagline, autofocus: true %>
        </div>

        <div class="field">
          <%= f.label :calendly_url %><br />
          <%= f.text_field :calendly_url, autofocus: true %>
        </div>

        <div class="field">
          <%= f.label :catalant_url %><br />
          <%= f.text_field :catalant_url, autofocus: true %>
        </div>

        <div class="field">
          <%= f.label :linkedin_url %><br />
          <%= f.text_field :linkedin_url, autofocus: true %>
        </div>

        <div class="field">
          <%= f.label :twitter_url %><br />
          <%= f.text_field :twitter_url, autofocus: true %>
        </div>

        <div class="field">
          <%= f.label :medium_url %><br />
          <%= f.text_field :medium_url, autofocus: true %>
        </div>

        <div class="field">
          <%= f.label :github_url %><br />
          <%= f.text_field :github_url, autofocus: true %>
        </div>

        <div class="field">
          <%= f.label :dribbble_url %><br />
          <%= f.text_field :dribbble_url, autofocus: true %>
        </div>

        <div class="field">
          <%= f.label :website_url %><br />
          <%= f.text_field :website_url, autofocus: true %>
        </div>


        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>

        <div class="field">
          <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
          <%= f.password_field :password, autocomplete: "off" %>
          <% if @minimum_password_length %>
            <br />
            <em><%= @minimum_password_length %> characters minimum</em>
          <% end %>
        </div>

        <div class="field">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, autocomplete: "off" %>
        </div>

        <div class="field">
          <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
          <%= f.password_field :current_password, autocomplete: "off" %>
        </div>

        <div class="actions">
          <%= f.submit "Update" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
</div>
