<%= render 'shared/navbar' %>

<div class="small-section cards">
  <div class="container">
    <div class="row">
      <div class="six offset-by-three columns">
        <h3>
          Volunteer your expertise
        </h3>
        <div class="divider"></div>
        <p class="dark-paragraph">
          Complete your volunteer profile to connect with organizations that need your help.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="small-section edit-profile">
  <div class="container">
    <div class="row">
      <div class="six offset-by-three columns">

        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
          <%= devise_error_messages! %>

          <h3>
            Basic Info
          </h3>
          <p>
            Edit your basic information.
          </p>

          <div class="field avatar-upload avatar-image"
               id="avatar-image"
               data-shubox-progress='0'
               data-shubox-uploader-name="avatar">
               <%= image_tag ("avatar.svg"), id: "image-preview" %>
               <p>
                 Drag and drop a new profile photo
               </p>
          </div>

          <%= hidden_field_tag 'avatar_url', '' %>

          <div class="profile-fields">
            <div class="field">
              <%= f.label :first_name %><br />
              <%= f.text_field :first_name, placeholder: "Elon" %>
            </div>

            <div class="field">
              <%= f.label :last_name %><br />
              <%= f.text_field :last_name, placeholder: "Musk" %>
            </div>
          </div>

          <div class="field">
            <%= f.label :email %><br />
            <%= f.email_field :email %>
          </div>

          <div class="field">
            <%= f.label :about_me %><br />
            <%= f.text_field :tagline, placeholder: "Tinkerer passionate about space travel, sustainable fuel, and autonomous vehicles" %>
          </div>

          <div class="spacer"></div>
          <div class="spacer"></div>
          <h3>
            Professional network profiles
          </h3>
          <p>
            Include links to your relevant profile pages to demonstrate your expertise through past experiences and projects.
          </p>

          <div class="profile-fields">
            <div class="field">
              <%= f.label :linkedin_url %><br />
              <%= f.text_field :linkedin_url, placeholder: "https://www.linkedin.com/in/" %>
            </div>

            <div class="field">
              <%= f.label :twitter_url %><br />
              <%= f.text_field :twitter_url, placeholder: "https://twitter.com/" %>
            </div>

            <div class="field">
              <%= f.label :medium_url %><br />
              <%= f.text_field :medium_url, placeholder: "https://medium.com/" %>
            </div>

            <div class="field">
              <%= f.label :github_url %><br />
              <%= f.text_field :github_url, placeholder: "https://github.com/" %>
            </div>

            <div class="field">
              <%= f.label :dribbble_url %><br />
              <%= f.text_field :dribbble_url, placeholder: "https://dribbble.com/" %>
            </div>

            <div class="field">
              <%= f.label :portfolio_url %><br />
              <%= f.text_field :website_url, placeholder: "http://yourwebsite.com" %>
            </div>
          </div>

          <div class="field">
            <%= f.label :calendly_url %><i> (Calendly is third party calendar service used to display your availability and easily schedule phone calls. <%= link_to "Create an account here.", "https://calendly.com/", class: "animated-underline", target: "_blank" %>)</i><br />
            <%= f.text_field :calendly_url, placeholder: "https://calendly.com/username/30min" %>
          </div>


          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
          <% end %>

          <div class="spacer"></div>
          <div class="spacer"></div>
          <h3>
            Change your password
          </h3>
          <p>
            Change your password by entering a new password below.
          </p>

          <div class="field">
            <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
            <%= f.password_field :password, autocomplete: "off" %>
            <% if @minimum_password_length %>
              <br />
              <em><%= @minimum_password_length %> characters minimum</em>
            <% end %>
          </div>

          <div class="field">
            <%= f.label :password_confirmation %><br />
            <%= f.password_field :password_confirmation, autocomplete: "off" %>
          </div>

          <div class="spacer"></div>
          <div class="spacer"></div>
          <h3>
            Confirm your changes
          </h3>
          <p>
            Enter your current password to save the changes to your account.
          </p>

          <div class="field">
            <%= f.label :current_password %><br />
            <%= f.password_field :current_password, autocomplete: "off" %>
          </div>

          <div class="actions">
            <%= f.submit "Save Changes" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script>
  new Shubox(
    '#avatar-image', {
      previewsContainer: false,
      acceptedFiles: 'image/*',
      success: function(file){
        img = new Image();
        img.onload = function(){
          $("#image-preview").attr('src', file.s3url);
          $("#avatar_url").val(file.s3url);
        };
        img.src = file.s3url;
      },
      error: function(file, message){
        alert("Oops! There was an error: \n" + message);
      }
    }
  );
</script>
