<div class="one-card column">
    <div class="card dark">
        <div class="content">
            <h3>
                <%= @user.name %>
            </h3>
            <div class="divider"></div>
            <p>
                <%= @user.tagline %>
            </p>
            <div class="links">
                <% if @user.linkedin_url? ||
                      @user.twitter_url? ||
                      @user.medium_url? ||
                      @user.github_url? ||
                      @user.github_url? ||
                      @user.dribbble_url? ||
                      @user.website_url? %>
                    <p>
                        Elsewhere:
                    </p>
                    <% if @user.catalant_url? %>
                        <p>
                        <%= link_to "Catalant", @user.catalant_url, target: "_blank" %>
                        </p>
                    <% end %>
                    <% if @user.linkedin_url? %>
                        <p>
                        <%= link_to "LinkedIn", @user.linkedin_url, target: "_blank" %>
                        </p>
                    <% end %>
                    <% if @user.twitter_url? %>
                        <p>
                        <%= link_to "Twitter", @user.twitter_url, target: "_blank" %>
                        </p>
                    <% end %>
                    <% if @user.medium_url? %>
                        <p>
                        <%= link_to "Medium", @user.medium_url, target: "_blank" %>
                        </p>
                    <% end %>
                    <% if @user.github_url? %>
                        <p>
                        <%= link_to "Github", @user.github_url, target: "_blank" %>
                        </p>
                    <% end %>
                    <% if @user.dribbble_url? %>
                        <p>
                        <%= link_to "Dribbble", @user.dribbble_url, target: "_blank" %>
                        </p>
                    <% end %>
                    <% if @user.website_url? %>
                        <p>
                        <%= link_to "Website", @user.website_url, target: "_blank" %>
                        </p>
                    <% end %>
                    <div class="current-user-links">
                        <% if @user == current_user %>
                            <%= link_to "Edit Profile", edit_user_registration_path, class: "button-secondary edit-profile"%>
                            <p>
                                <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "animated-underline"  %>
                            </p>
                        <% end %>
                    </div>
                <% else %>
                    <% if @user == current_user %>
                        <p>
                            Your profile is still pending review. We aim to review all profiles within 1-4 hours, so sit tight! <br>

                            Complete your profile to ensure that your profile will be approved.
                        </p>
                        <div class="current-user-links">
                            <% if @user == current_user %>
                                <%= link_to "Complete Profile", edit_user_registration_path, class: "button-secondary edit-profile"%>
                                <p>
                                    <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "animated-underline"  %>
                                </p>
                            <% end %>
                        </div>
                    <% end %>
                <% end %>

            </div>
        </div>
    </div>
</div>
