<%= render(:partial => 'shared/navbar')%>

<div class="section cards">
    <div class="container">
        <div class="row">
            <div class="four columns">

                <div class="card dark">
                    <div class="content">
                        <h3>
                            <%= @user.first_name %> <%= @user.last_name %>
                        </h3>
                        <div class="divider"></div>
                        <p>
                            <%= @user.tagline %>
                        </p>
                        <p style="margin-bottom: 0">
                            Elsewhere:
                        </p>
                        <div class="links">
                            <% if @user.catalant_url? %>
                                <%= link_to "Catalant", @user.catalant_url, target: "_blank", class: "animated-underline" %>
                            <% end %>
                            <% if @user.linkedin_url? %>
                                <%= link_to "LinkedIn", @user.linkedin_url, target: "_blank", class: "animated-underline" %>
                            <% end %>
                            <% if @user.twitter_url? %>
                                <%= link_to "Twitter", @user.twitter_url, target: "_blank", class: "animated-underline" %>
                            <% end %>
                            <% if @user.medium_url? %>
                                <%= link_to "Medium", @user.medium_url, target: "_blank", class: "animated-underline" %>
                            <% end %>
                            <% if @user.github_url? %>
                                <%= link_to "Github", @user.github_url, target: "_blank", class: "animated-underline" %>
                            <% end %>
                            <% if @user.dribbble_url? %>
                                <%= link_to "Dribbble", @user.dribbble_url, target: "_blank", class: "animated-underline" %>
                            <% end %>
                            <% if @user.website_url? %>
                                <%= link_to "Website", @user.website_url, target: "_blank", class: "animated-underline" %>
                            <% end %>
                        </div>
                        <% if @user == current_user %>
                            <%= link_to "Edit Profile", edit_user_registration_path, class: "button-secondary"%>
                            <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "animated-underline"  %>
                        <% end %>
                    </div>
                </div>

            </div>
            <div class="eight columns">

                <!-- Index of Filled Positions -->
                <% @user.roles.each do |role| %>
                    <% if role.status == "Volunteer" %>
                        <div class="card dark">
                            <div class="content">
                                <h3 class="clamped-text one-line">
                                    <%= link_to Project.find_by_id(role.project_id).title, project_path(Project.find_by_id(role.project_id).id), class: "animated-underline"%>
                                </h3>
                                <div class="divider"></div>
                                <p class="clamped-text four-lines">
                                    <%= Project.find_by_id(role.project_id).description %>
                                </p>
                                <%= link_to "View Project", project_path(Project.find_by_id(role.project_id).id), class: "button-secondary"%>
                            </div>
                        </div>
                    <% end %>
                <% end %>

                <!-- Index of Applications -->
                <% @user.roles.each do |role| %>
                    <% if role.status == "Applicant" %>
                        <div class="card">
                            <div class="content">
                                <h3 class="clamped-text one-line">
                                    <%= link_to Project.find_by_id(role.project_id).title, project_path(Project.find_by_id(role.project_id).id), class: "animated-underline"%>
                                </h3>
                                <div class="divider"></div>
                                <p class="clamped-text four-lines">
                                    <%= Project.find_by_id(role.project_id).description %>
                                </p>
                                <%= link_to "View Project", project_path(Project.find_by_id(role.project_id).id), class: "button-secondary"%>
                            </div>
                        </div>
                    <% end %>
                <% end %>

                <!-- Index of Owned Projects -->
                <% @user.roles.each do |role| %>
                    <% if role.status == "Owner" %>
                        <div class="card">
                            <div class="content">
                                <h3 class="clamped-text one-line">
                                    <%= link_to Project.find_by_id(role.project_id).title, project_path(Project.find_by_id(role.project_id).id), class: "animated-underline"%>
                                </h3>
                                <div class="divider"></div>
                                <p class="clamped-text four-lines">
                                    <%= Project.find_by_id(role.project_id).description %>
                                </p>
                                <%= link_to "View Project", project_path(Project.find_by_id(role.project_id).id), class: "button-secondary"%>
                            </div>
                        </div>
                    <% end %>
                <% end %>
            </div>


        </div>
    </div>
</div>
