<div class="footer mobile-only">
    <div class="item">
        <%= link_to projects_path do %>
            <%= image_tag("cards.svg", class: "centered-object") %>
            <h4>Projects</h4>
        <% end %>
    </div>
    <div class="item">
        <%= link_to conversations_path do %>
            <%= image_tag("inbox.svg", class: "centered-object") %>
            <h4>Inbox</h4>
        <% end %>
    </div>
    <div class="item">
        <%= link_to current_user do %>
            <%= image_tag("avatar.svg", class: "centered-object") %>
            <h4>Profile</h4>
        <% end %>
    </div>
</div>
