<%= render 'shared/navbar' %>

<div class="section cards">
    <div class="container">

        <div class="row">
            <div class="twelve columns">
                <h1>
                    Volunteer your expertise to help non-profit organizations tackle their most pressing challenges.
                </h1>
            </div>
        </div>

        <div class="row">

            <div class="two-cards columns">
                <div class="card">
                    <div class="content">
                        <h3>
                            Find help for your organiziation
                        </h3>
                        <div class="divider"></div>
                        <p>
                            Connect with experts willing and able to volunteer their expertise to help your non-profit organization.
                        </p>
                        <%= link_to "Join as an Organization", new_organization_path, class: "button-primary"%>
                    </div>
                </div>
            </div>

            <div class="two-cards columns">
                <div class="card">
                    <div class="content">
                        <h3>
                            Volunteer your expertise
                        </h3>
                        <div class="divider"></div>
                        <p>
                            Apply to join as an expert to volunteer your expertise to non-profit organizations that need your help.
                        </p>
                        <%= link_to "Join as an Expert", new_user_registration_path, class: "button-primary"%>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="section">
    <div class="container">
        <h2 class="centered-text">
            How It Works
        </h2>
        <div class="row how-it-works-section">
            <div class="six columns">
                <h3>1. Describe what your organization needs</h3>
                <p>
                    Describe what your organization needs help with by posting a project. Projects may vary in size and scope from small community outreach exercises to large mobile app development efforts.
                </p>
            </div>
            <div class="three-cards columns offset-by-two how-it-works-image">
                <div class="card" style="border: 1px dashed #bdd6dd">
                  <div class="content">
                    <h3 class="clamped-text one-line">
                      Campaign Marketing Strategy
                    </h3>
                    <div class="divider"></div>
                    <p class="clamped-text four-lines">
                      We're launching a new campaign in a few months to help match high school students with paid internships. We need someome who can prepare a strategy to help us find companies willing to host and help train students.
                    </p>
                    <p class="dark-paragraph clamped-text one-line no-bottom-margin">
                      Cause: At-Risk Youth
                    </p>
                  </div>
                </div>
            </div>
        </div>
        <div class="row how-it-works-section">
            <div class="four columns how-it-works-image">
                <div class="personal-message animate-in">
                    <div class="message-heading">
                        <%= image_tag ("avatar.svg"), class: "floated-avatar small-avatar" %>
                        <h3>Emily Tyler</h3>
                        <p class="timestamp">2 minutes ago</p>
                    </div>
                    <p class="message-body">Hi there - I'm interested in helping. I used to work with an at-risk youth organization in Boston, so I'm familiar with the challenges.</p>
                </div>
            </div>
            <div class="six columns offset-by-two">
                <h3>2. Experts introduce themselves</h3>
                <p>
                    Once your project has been published to the community, experts interested in the project will begin to introduce themselves.
                </p>
            </div>
        </div>
        <div class="row how-it-works-section">
            <div class="six columns">
                <h3>3. Choose an expert to work with</h3>
                <p>
                    You'll be able to chat with all of the candidates, review their profiles, and setup phone calls to help you find a good match for the project.
                </p>
            </div>
            <div class="three-cards columns offset-by-two how-it-works-image">
                <div class="card" style="border: 1px dashed #bdd6dd">
                  <div class="content">
                    <h3 class="clamped-text one-line">
                      Emily Tyler
                    </h3>
                    <div class="divider"></div>
                    <p class="clamped-text four-lines">
                      Boston-based marketing strategist, passionate about equal opportunity and environmental protection.
                    </p>
                    <p class="clamped-text one-line no-bottom-margin">
                      Elsewhere: <%= link_to 'Linkedin', root_path %>, <%= link_to 'Medium', root_path %>
                    </p>
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section cards">
    <div class="container">
        <div class="row">
            <div class="eight columns offset-by-two">
                <h2 class="centered-text">
                    Post a project for your non-profit organization.
                </h2>
                <p class="centered-text">
                    Connect with marketing specialists, web designers, and variety of other experts willing and able to help your organization.
                </p>
                <%= link_to "Join as an Organization", new_organization_path, class: "button-primary", style: "margin: auto;"%>
                <div class="spacer"></div>
                <p class="centered-text">
                    Or, <%= link_to "join as an expert", new_user_registration_path, class: "inline-link" %> to volunteer your expertise.
                </p>
            </div>
        </div>
    </div>
</div>

