<%= render 'shared/navbar' %>

<div class="section cards">
    <div class="container">

        <div class="row">
            <div class="eight columns offset-by-two">
                <h1>
                    Volunteer your expertise to help non-profit organizations make a greater impact.
                </h1>
            </div>
        </div>

        <div class="row">

            <div class="two-cards columns">
                <div class="card">
                    <div class="content">
                        <h3>
                            Find help for your organization
                        </h3>
                        <div class="divider"></div>
                        <p>
                            Connect with experts willing and able to donate their time to help your non-profit organization.
                        </p>
                        <%= link_to "Join as an Organization", new_organization_path, class: "button-primary"%>
                    </div>
                </div>
            </div>

            <div class="two-cards columns">
                <div class="card">
                    <div class="content">
                        <h3>
                            Donate your time
                        </h3>
                        <div class="divider"></div>
                        <p>
                            Join as a volunteer to find opportunities to donate your expertise to organizations that need your help.
                        </p>
                        <%= link_to "Join as a Volunteer", new_user_registration_path, class: "button-primary"%>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="section">
    <div class="container">
        <h2 class="centered-text">
            How It Works
        </h2>
        <div class="row how-it-works-section">
            <div class="six columns">
                <h3>1. Organizations list volunteer opportunities</h3>
                <p>
                    Organizations describe their current challenges and opportunities for volunteers to donate their time and expertise. Volunteer projects may range from marketing support to mobile app development.
                </p>
            </div>
            <div class="three-cards columns offset-by-two how-it-works-image">
                <div class="card" style="border: 1px dashed #bdd6dd">
                  <div class="content">
                    <h3 class="clamped-text one-line">
                      Campaign Marketing Strategy
                    </h3>
                    <div class="divider"></div>
                    <p class="clamped-text four-lines">
                      We're launching a new campaign in a few months to help match high school students with paid internships. We need someome who can prepare a strategy to help us find companies willing to host and help train students.
                    </p>
                    <p class="dark-paragraph clamped-text one-line no-bottom-margin">
                      Cause: At-Risk Youth
                    </p>
                  </div>
                </div>
            </div>
        </div>
        <div class="row how-it-works-section">
            <div class="four columns how-it-works-image">
                <div class="personal-message animate-in">
                    <div class="message-heading">
                        <%= image_tag ("avatar.svg"), class: "floated-avatar small-avatar" %>
                        <h3>Emily Tyler</h3>
                        <p class="timestamp">2 minutes ago</p>
                    </div>
                    <p class="message-body">Hi there - I'm interested in helping. I used to work with an at-risk youth organization in Boston, so I'm familiar with the challenges.</p>
                </div>
            </div>
            <div class="six columns offset-by-two">
                <h3>2. Volunteers contact organizations they want to help</h3>
                <p>
                    When a volunteer comes across an opportunity that they are interested in, they may contact the organization to offer their time and expertise.
                </p>
            </div>
        </div>
        <div class="row how-it-works-section">
            <div class="six columns">
                <h3>3. Organizations choose the right match for the project</h3>
                <p>
                    Organizations are able to view their volunteers' profiles and chat with them to decide who might be the best match for their current needs.
                </p>
            </div>
            <div class="three-cards columns offset-by-two how-it-works-image">
                <div class="card" style="border: 1px dashed #bdd6dd">
                  <div class="content">
                    <h3 class="clamped-text one-line">
                      Emily Tyler
                    </h3>
                    <div class="divider"></div>
                    <p class="clamped-text four-lines">
                      Boston-based marketing strategist, passionate about equal opportunity and environmental protection.
                    </p>
                    <p class="clamped-text one-line no-bottom-margin">
                      Elsewhere: <%= link_to 'Linkedin', root_path %>, <%= link_to 'Medium', root_path %>
                    </p>
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section cards">
    <div class="container">
        <div class="row">
            <div class="eight columns offset-by-two">
                <h2 class="centered-text">
                    Find expert volunteers for your non-profit organization.
                </h2>
                <p class="centered-text">
                    Connect with marketing specialists, web designers, and a community of other experts willing to donate their time to help your organization make an impact.
                </p>
                <%= link_to "Join as an Organization", new_organization_path, class: "button-primary", style: "margin: auto;"%>
                <div class="spacer"></div>
                <p class="centered-text">
                    Or, <%= link_to "join as a volunteer", new_user_registration_path, class: "inline-link" %> to donate your time and expertise.
                </p>
            </div>
        </div>
    </div>
</div>

