<div class="row">
  <div class="eight columns">
    <%= render 'projectDetails' %>
  </div>


  <div class="three-cards columns">
    <div class="card">
      <div class="content">
        <h3>
          Interested in helping with this?
        </h3>
        <div class="divider"></div>
        <p>
            Send a quick introductory message to express your interest in helping this organization.
        </p>
        <%= form_for @personal_message do |f| %>
          <% @project.roles.each do |role| %>
            <% if role.status == "Owner" %>
              <%= hidden_field_tag 'receiver_id', User.find_by_id(role.user_id).id %>
            <% end %>
          <% end %>

          <%= hidden_field_tag 'project_id', @project.id %>

          <%= f.text_area :body, placeholder: "Briefly describe your background and why you are interested in this project." %>

          <div class="actions application-button">
            <%= f.submit "Send Message"%>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
