<div class="three-cards columns">
  <div class="card">
    <div class="content">
      <h3>
        Interested in helping?
      </h3>
      <div class="divider"></div>
      <p>
          Send a quick message to introduce yourself and describe how you can help.
      </p>
      <%= form_for @personal_message do |f| %>
        <% @project.roles.each do |role| %>
          <% if role.status == "Owner" %>
            <%= hidden_field_tag 'receiver_id', User.find_by_id(role.user_id).id %>
          <% end %>
        <% end %>

        <%= hidden_field_tag 'project_id', @project.id %>

        <%= f.text_area :body, placeholder: "I can help with ..." %>

        <div class="actions application-button">
          <%= f.submit "Send Message"%>
        </div>
      <% end %>
    </div>
  </div>
  <p class="centered-text">
    <%= link_to "Share on Twitter", "http://twitter.com/home?status=Tech volunteer opportunity -- #{@project.title} #{project_url(@project)} via%20%40teamproject501", class: "inline-link animated-underline", target: "blank" %>
  </p>
</div>
