<h2>
  <%= @project.title %>
</h2>
<div class="divider"></div>

<!-- project details -->
<p>
  <%= h(@project.description).gsub(/\n/, '<br/>').html_safe %>
</p>
<p>
  Project Category: <%= @project.category %>
</p>

<!-- organization details -->
<h3>
  <%= link_to @project.organization.name, organization_path(@project.organization), class: "animated-underline" %>
</h3>
<p>
  <%= @project.organization.description %>
</p>
<p>
  <%= @project.organization.cause %>
</p>