<div class="row">


  <div class="eight columns">
    <h2>
      <%= @project.title %>
    </h2>
    <div class="divider"></div>

    <p>
      <%= @project.description %>
    </p>

    <p>
      Target deadline for this project: <%= @project.deadline %>
    </p>

    <% @project.roles.each do |role| %>
      <% if role.status == "Owner" %>
        <% User.find_by_id(role.user_id).memberships.each do |membership| %>
          <h3>
            <%= link_to Organization.find_by_id(membership.organization_id).name, organization_path(Organization.find_by_id(membership.organization_id).id), class: "animated-underline"%>
          </h3>
        <% end %>
      <% end %>
    <% end %>

    <% @project.roles.each do |role| %>
      <% if role.status == "Owner" %>
        <% User.find_by_id(role.user_id).memberships.each do |membership| %>
          <p>
            <%= Organization.find_by_id(membership.organization_id).description %>
          </p>
        <% end %>
      <% end %>
    <% end %>
  </div>


  <div class="three-cards columns">
    <div class="card">
      <div class="content">
        <h3>
          Interested in helping with this?
        </h3>
        <div class="divider"></div>
        <p>
            Send a quick introductory message to express your interest in helping this organization.
        </p>
        <h3>
          Introduce yourself:
        </h3>
        <%= form_for @personal_message do |f| %>
          <% @project.roles.each do |role| %>
            <% if role.status == "Owner" %>
              <%= hidden_field_tag 'receiver_id', User.find_by_id(role.user_id).id %>
            <% end %>
          <% end %>

          <%= hidden_field_tag 'project_id', @project.id %>

          <%= f.text_area :body, placeholder: "Briefly describe your background and why you are interested in this project." %>

          <div class="actions application-button">
            <%= f.submit "Apply to Project"%>
          </div>
        <% end %>
        <%= link_to 'Apply to Project', apply_project_path(@project), class: "button-secondary" %>
      </div>
    </div>
  </div>
</div>
