<%= render 'shared/navbar' %>

<div class="section cards">
  <div class="container">
    <div class="row">
      <% @projects.each do |project| %>
        <div class="three-cards columns" style="float: none; display: inline-block;">
          <div class="card">
            <div class="content">
              <h3 class="clamped-text one-line">
                <%= link_to project.title, project, class: "animated-underline" %>
              </h3>
              <div class="divider"></div>
              <p class="clamped-text four-lines">
                <%= project.description %>
              </p>
              <%= link_to "View Project", project, class: "button-secondary" %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="section invite-organizations">
  <div class="container">
    <div class="row invitation-cta">
      <div class="five columns">
          <h2>
              Help grow Project 501
          </h2>
          <p>
              Reach out to non-profit organizations who haven’t joined Project 501 yet. Offer your services and invite them to join the platform.
          </p>
          <%= link_to "Browse Organizations", organizations_path, class: "button-secondary"%>
      </div>

      <div class="seven columns large-screen-only">
        <%= image_tag("blocks.svg", class: "invitation") %>
      </div>
    </div>
  </div>
</div>
