<%= render 'shared/navbar' %>

<div class="section cards">
  <div class="container">
    <div class="row">
      <% @projects.each do |project| %>
        <% unless project.id == 1 || project.active == false %>
          <div class="two-cards columns" style="float: none; display: inline-block;">
            <div class="card">
              <div class="content">
                <h3 class="clamped-text one-line">
                  <%= link_to project.title, project %>
                </h3>
                <div class="divider"></div>
                <p class="clamped-text four-lines">
                  <%= project.description %>
                </p>
                <p>
                  Cause: <%= project.organization.cause %>
                  <br>
                  Need: <%= project.category %>
                </p>
                <p>

                </p>
                <%= link_to "View Project", project, class: "button-secondary" %>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
