<%= render(partial: 'shared/navbar')%>

<div class="section cards">
  <div class="container">

    <% if Role.where(user_id: current_user.id, project_id: @project.id).exists? %>
      <% if Role.where(user_id: current_user.id, project_id: @project.id).first.status == "Owner" %>
        <%= render(:partial => 'projectOwnerView') %>
      <% elsif Role.where(user_id: current_user.id, project_id: @project.id).first.status == "Applicant" %>
        <%= render(:partial => 'projectApplicantView') %>
      <% elsif Role.where(user_id: current_user.id, project_id: @project.id).first.status == "Volunteer" %>
        <%= render(:partial => 'projectVolunteerView') %>
      <% else %>
      <% end %>
    <% else %>
      <%= render(:partial => 'projectVisitorView') %>
    <% end %>

  </div>
</div>
