<div class="section cards">
  <div class="container">
    <div class="row">

      <!-- project details -->
      <div class="eight columns">
        <%= render 'projectDetails' %>
      </div>

      <!-- project sidebar, based on user state -->
      <% if current_user %>
        <% if Role.where(user_id: current_user.id, project_id: @project.id).exists? %>
          <% if Role.where(user_id: current_user.id, project_id: @project.id).first.status == "Owner" %>
            <%= render(partial: 'projectOwnerView') %>
          <% elsif Role.where(user_id: current_user.id, project_id: @project.id).first.status == "Applicant" %>
            <%= render(partial: 'projectApplicantView') %>
          <% elsif Role.where(user_id: current_user.id, project_id: @project.id).first.status == "Volunteer" %>
            <%= render(partial: 'projectVolunteerView') %>
          <% end %>
        <% else %>
          <% if current_user.approved? %>
            <%= render(partial: 'projectVisitorView') %>
          <% else %>
            <%= render(partial: 'unapprovedVisitorView') %>
          <% end %>
        <% end %>
      <% else %>
        <%= render(partial: 'loggedOutView') %>
      <% end %>
    </div>
  </div>
</div>`
