<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @project.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>

<p>
  <strong>Category:</strong>
  <%= @project.category %>
</p>

<p>
  <strong>Deadline:</strong>
  <%= @project.deadline %>
</p>

<p>Roles</p>
<ul>
  <% @project.roles.each do |role| %>
    <li><%= role.status %></li>
    <li><%= User.find_by_id(role.user_id).email %></li>
  <% end %>
</ul>

<%= link_to 'Apply', apply_project_path(@project) %> |
<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
