<%= render(:partial => 'shared/navbar')%>

<div class="section cards">
  <div class="container">

    <!-- Determine which view to render based on current user project role -->
    <% @project.roles.each do |role| %>

      <!-- If the current user is the project owner... -->
      <% if role.status == "Owner" %>
        <% if User.find_by_id(role.user.id) == current_user %>
          <%= render(:partial => 'projectOwnerView') %>
        <% end %>

      <!-- If the current user has applied to the project -->
      <% elsif role.status == "Applicant" %>
        <% if User.find_by_id(role.user.id) == current_user %>
          <%= render(:partial => 'projectApplicantView') %>
        <% end %>

      <!-- If the current user has been selectd for the project -->
      <% elsif role.status == "Volunteer" %>
        <% if User.find_by_id(role.user.id) == current_user %>
          <%= render(:partial => 'projectVolunteerView') %>
        <% end %>

      <!-- If the current user is not yet associated with the project -->
      <% else %>
        <% if User.find_by_id(role.user.id) == current_user %>
          <%= render(:partial => 'projectVisitorView') %>
        <% end %>

      <% end %>
    <% end %>
  </div>
</div>
