<div class="personal-message">
    <div class="message-heading">
        <%= link_to personal_message.user do %>
            <% if personal_message.user.avatar_url? %>
                <div class="floated-avatar avatar" style="background-image: url(<%= personal_message.user.avatar_url %>)"></div>
            <% else %>
                <%= image_tag "avatar.svg", class: "floated-avatar avatar" %>
            <% end %>
            <h3><%= personal_message.user.name %></h3>
        <% end %>
        <p class="timestamp"><%= time_ago_in_words(personal_message.created_at) %> ago</p>
    </div>
    <p class="message-body"><%= h(personal_message.body).gsub(/\n/, '<br/>').html_safe %></p>
</div>
