<div class="small-section">
  <div class="container">
    <div class="row">
      <div class="six offset-by-three columns">

        <%= form_for(@organization) do |f| %>
          <% if @organization.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@organization.errors.count, "error") %> prohibited this organization from being saved:</h2>

              <ul>
              <% @organization.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
              </ul>
            </div>
          <% end %>

          <div class="field">
            <%= f.label :organization_name %><br>
            <%= f.text_field :name %>
          </div>
          <div class="field">
            <%= f.label :website %><br>
            <%= f.text_field :website %>
          </div>
          <div class="field">
            <%= f.label :location %> <i>(optional)</i><br>
            <%= f.text_field :location %>
          </div>
          <div class="field">
            <%= f.label :description %><br>
            <%= f.text_area :description %>
          </div>
          <div class="field">
            <%= f.label :cause %><br>
            <%= f.select :cause, [['Select One', ''], 'Aging', 'Animal Welfare, Rights, and Protection', 'Arts and Culture', 'At-Risk Youth', 'Childhood Nutrition/Health', 'Climate Change', 'Criminal Justice', 'Disaster Relief', 'Education', 'Homelessness', 'Immigration', 'International Development', 'LGBT Equality and Support', 'Medical Research', 'Mental Health', 'Microfinance', 'People With Disabilities', 'Reproductive Health, Rights, and Justice', 'Violence Against Women', 'Water, Sanitation, and Hygiene', 'Workforce Development', 'Other'] %>
          </div>
          <div class="actions">
            <%= f.submit %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
