<div class="section cards">
    <div class="container">
        <div class="row">
          <div class="one-card column">
            <div class="card dark">
              <div class="content">
                <h3>
                    <%= @organization.name %>
                </h3>
                <div class="divider"></div>
                <p class="clamped-text">
                    <%= @organization.description %>
                </p>
                <p>
                  Cause: <span class="dark-paragraph"><%= @organization.cause %></span>
                </p>
                <div class="links">
                  <% if @organization.website %>
                      <%= link_to "Visit Website", @organization.website, target: "_blank", class: "animated-underline standard-link" %>
                  <% end %>
                </div>
                <% if Membership.where(user_id: current_user.id, organization_id: @organization.id).exists? %>
                  <%= link_to "Edit Organization Profile", edit_organization_path, class: "button-secondary"%>
                <% end %>
              </div>
            </div>
          </div
        </div>

        <div class="row">
          <% @organization.memberships.each do |membership| %>
            <% User.find_by_id(membership.user_id).roles.each do |role| %>
              <% if role.status == "Owner" %>
                <%= render 'projectCard', role: role %>
              <% end %>
            <% end %>
          <% end %>
        </div>

    </div>
</div>


